<form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
  <h3>Iniciar sesión</h3>
  <div class="title">
    <p>¿No tienes cuenta?</p>
    <a routerLink="/auth/register">Regístrate ahora</a>
  </div>
  
  <div class="input__container">
    <span>Correo electronico</span>
    <input  class="input"
            type="email" 
            formControlName="email" 
            placeholder="Ingrese su email">
  </div>
  <p></p>
  
  <div class="input__container">
    <span>Contraseña</span>
    <input  class="input"
            type="password"
            formControlName="password" 
            placeholder="Ingrese su contraseña">
  </div>
  <p></p>  

  <Button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</Button>
</form>