<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h3>Crea tu cuenta!</h3>
  <div class="title">
    <p>¿Ya tienes una cuenta?</p>
    <a routerLink="/auth/login">Iniciar sesión</a>
  </div>

  <div class="input__container">
    <span>Nombre de usuario</span>
    <input  class="input"
            type="text" 
            formControlName="name" 
            placeholder="Ingrese su nombre">
  </div>
  <p *ngIf="invalidField('name'); else elseBlock">El nombre es requerido</p>
  <ng-template #elseBlock><p></p></ng-template>
  <div class="input__container">
    <span>Correo electronico</span>
    <input  class="input"
            type="email" 
            formControlName="email" 
            placeholder="Ingrese su email">
  </div>
  <p *ngIf="invalidField('email'); else elseBlock">El correo es invalido</p>
  <ng-template #elseBlock></ng-template>
  <div class="input__container">
    <span>Contraseña</span>
    <input  class="input"
            type="password"
            formControlName="password" 
            placeholder="Ingrese su contraseña">
  </div>
  <p *ngIf="invalidField('password'); else elseBlock">minimo 6 caracteres</p>
  <ng-template #elseBlock> </ng-template>
  <div class="input__container">
    <span>Repita su contraseña</span>
    <input  class="input"
            type="password"
            formControlName="password2" 
            placeholder="Confirme su contraseña">
  </div>
  <p *ngIf="invalidField('password2'); else elseBlock">Las contraseñas deben coincidir</p>
  <ng-template #elseBlock> </ng-template>
  <Button type="submit" [disabled]="registerForm.invalid">Registrarse</Button>
</form>